@{
    ViewData["Title"] = "首页";
}

<h2>模拟天猫精灵客户端</h2>
<h3>@ViewData["Message"]</h3>

<h3>
    Authority = 198.198.198.176:5000
</h3>
<h3>
    ClientId = code.015cd5b0-5b1c-406d-8b8e-fca63ad6d7e5
</h3>
<h3>
    ClientSecret = secret.ce9028f2-b3d0-4e9f-9043-ec40f945332a
</h3>
<h3>Scope = api1,openid,profile</h3>
